

<div class="main_menu">

<!-- link to add a new item  -->

<%= button_to 'Add Item', new_item_path, method: :get, class:"menu_button"%>

<%= button_to 'Hire Item', items_path, method: :get, class:"menu_button"%>

</div>
