/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */






 @import "bootstrap";
 @import "hires";
 @import "item_reviews";
 @import "items";
 @import "users";



body {
  background-image: url("background.png");
  background-repeat: no-repeat;
   background-size: cover;

}

.sing_up_or_login{


border-radius: 10px;
background-color: white;
 width: 800px;
 height: 500px;
 border: 10px solid #EFE0D2;
 padding: 10px;
 margin: 0px;

}

.menu_button{



  background-color: #4aa4b9;
  background-image: linear-gradient(to bottom,#D0E5DC, #CFE6E8);
  border: none;
  color: white;
  padding: 80px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 12px;
  width: 25%;
  float: left;
  margin: 10px 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;


}

.menu_button:hover {

  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


}

.box{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
}

.img{
  background-color: #CFE6E8;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
