/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */






 @import "bootstrap";
 @import "hires";
 @import "item_reviews";
 @import "items";
 @import "users";

 * {
     box-sizing: border-box;
 }

 body {
  // background: #f1c40f;
}

.sing_up_or_login{

      background: #9dcedd;
      border-radius: 12px;

}

.menu_button{



  background-color: #4aa4b9;
  background-image: linear-gradient(to right, #7F7FD5, #86A8E7 ,#91EAE4);
  border: none;
  color: white;
  padding: 80px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 12px;
  width: 25%;
  float: left;
  margin: 10px 10px;

    // display: flex;
    // align-items: center;
    // justify-content: center;
    // margin-bottom: 2rem;


}

.menu_button:hover {

  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


}
