/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */






 @import "bootstrap";
 @import "hires";
 @import "item_reviews";
 @import "items";
 @import "users";


*{
  font-family: 'Playfair Display', serif;

    box-sizing: border-box;


}

.page_footer {
  margin-top: 30px;
  margin-bottom: -22px;
}


 .navbar {

   // margin-bottom: 30px;
   // background-color: #CFE6E8;
   background-color: #acc9c7;
   height: 80px;

 }

.nav-item:hover {

  background-color: #c8e3e1;
}






body {

  background-image: url("background.png");
  font-family: 'Playfair Display', serif;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.logo_icon {

  margin-bottom: 15px;
}

.logo{
  font-style: italic;
  font-family: 'Playfair Display SC', serif;
  // font-style: italic;

  color:#11554e;
  // font-family: 'Lobster', cursive;
  font-size: 45px;
  padding: 10px;
}


.logo-container{

  display: inline-flex;
  align-items: center;
}

.body_wrapper{

   display: unset;
justify-content: center;
 align-items: center;
}

.main_menu {
  display: flex;
justify-content: center;
align-items: center;

 // border: 10px solid #EFE0D2;
 width: 700px;
 height: 400px;
 margin: auto;
 margin-top: 50px;
 background: white;
 padding: 10px;
 left: 300px;
 top: 180px;
 border-radius: 10px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.sing_up_or_login{


  display: flex;
justify-content: center;
align-items: center;

 // border: 10px solid #EFE0D2;
 width: 700px;
 height: 400px;
 margin: auto;
 margin-top: 50px;
 background: white;
 padding: 10px;
 left: 300px;
 top: 180px;
 border-radius: 10px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.menu_button{




  background-image: linear-gradient(to bottom,#D0E5DC, #CFE6E8);
  border: none;
  // color: #75736C;
  color: #417470;
  // color: 5c594f;
  padding: 80px 60px;
  text-align: center;

   display: inline-block;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  border-radius: 12px;
  display: absolute;
  // top: 100px;
   width: 225px;
  float: left;
  margin: 20px 20px;


    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;


}

.menu_button:hover {

  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


}

.nav-item {

  font-family: 'Playfair Display', serif;
  font-size: 20px;
  // color: #56928e;
  color: white;

}

.login_form{

// display: flex;
// justify-content: center;
// align-items: center;

background: white;
font-family: 'Playfair Display', serif;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
width: 35%;
height: 400px;
margin: auto;
top: auto;
// right: auto;



}

.form_button_wrapper{


}

.title {
text-align: center;
font-family: 'Playfair Display', serif;

color: #08413a;

}

.form_button{
  display: block;
  background-color: #acc9c7;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  margin: auto;

}

.box{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
}

.img{
  // background-color: #CFE6E8;
  // background-color: #75736C;
  background-color: #C6C4B8;
  padding: 6px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.success_button{

  // display: block;
  background-color: #acc9c7;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  // margin: auto;

}

.review_button{

  display: block;
  background-color: #acc9c7;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  margin: auto;

}


footer {
             color: black;
             font-family: 'Playfair Display', serif;
           }
           footer h3 {
             margin-bottom: 30px;
             font-family: 'Playfair Display', serif;
           }
           footer .footer-above {
             padding-top: 10px;
             background-color: #CFE6E8;
           }
           footer .footer-col {
             margin-bottom: 10px;
           }
           footer .footer-below {
             padding: 10px 0;
             background-color:#acc9c7;
           }
