<!--RADIO 1-->
<style media="screen">
  .radio_item{
display: none !important;
padding: 20px;
}

.label_item {
opacity: 0.3;
padding: 0px 20px;
}

.radio_item:checked + label {
opacity: 1;
padding: 0px 20px;
}
</style>
<input type="radio" class="radio_item" value="<%=c.reaction%>" name="reaction" id="radio1">
<label class="label_item" for="radio1"> <%= image_tag "like.png", size: "50" %> </label>

<!--RADIO 2-->
<input type="radio" class="radio_item" value="<%=!c.reaction%>" name="reaction" id="radio2">
<label class="label_item" for="radio2"> <%= image_tag "dislike.png", size: "50" %> </label>
